<p style="color: green"><%= notice %></p>

<h1>Borrowings</h1>

<div id="borrowings">
  <% @borrowings.each do |borrowing| %>
    <%= render borrowing %>
    <p>
      <%= link_to "Show this borrowing", admin_borrowing_url(borrowing) %>
    </p>
  <% end %>
</div>

<%= link_to "New borrowing", new_admin_borrowing_path %>
