<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <% if Borrower.new(current_user, @game).user_can_borrow_game? %>
    <%= button_to "Borrow this game", @game, method: :post %>
  <%end%>
  <%= link_to "Back to games", games_path %>

</div>
